<main class="container mt-4">
  <h2 class="mb-4">Lembretes</h2>

  <table class="table table-bordered table-striped">
    <thead class="table">
      <tr>
        <th>Data</th>
        <th>Hora</th>
        <th>Descrição</th>
        <th>Paciente</th>
        <th>Cuidador</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let lembrete of listaLembretes">
        <td>{{ lembrete.data | date: 'dd/MM/yyyy' }}</td>
        <td>{{lembrete.hora}}</td>
        <td>{{ lembrete.descricao }}</td>
        <td>{{ lembrete.pacienteId }}</td>
        <td>{{ lembrete.cuidadorId }}</td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="listaLembretes.length === 0" class="alert alert-info">
    Nenhum lembrete cadastrado.
  </div>
</main>
