<main class="container py-4">
  
  <h2>Bem-vindo, {{ paciente?.nome }}</h2>
  <div class="container my-4">
  <h5>Como você está se sentindo hoje?</h5>
  <div class="d-flex gap-2 mt-2">
    <span 
      *ngFor="let emoji of humores" 
      (click)="selecionarHumor(emoji)" 
      class="fs-3 cursor-pointer"
      [ngClass]="{ 'border border-primary rounded p-1': humorSelecionado === emoji }">
      {{ emoji }}
    </span>
  </div>

  <button 
    class="btn btn-sm btn-success mt-3" 
    [disabled]="!humorSelecionado"
    (click)="registrarHumor()">
    Registrar Humor
  </button>

  <div *ngIf="humorEnviado" class="alert alert-success mt-2 p-2">
    Humor registrado com sucesso!
  </div>
</div>

  <section class="mt-4">
    <h4>Lembretes</h4>
    <ul *ngIf="lembretes.length > 0; else semLembretes">
      <li *ngFor="let l of lembretes">
        📅 <strong>{{ l.data }}</strong> - {{ l.titulo }}: {{ l.descricao }}
      </li>
    </ul>
    <ng-template #semLembretes>
      <p>Nenhum lembrete cadastrado.</p>
    </ng-template>
  </section>

  <section class="mt-4">
    <h4>Galeria de Fotos</h4>
    <div class="row">
      <div class="col-md-3 mb-3" *ngFor="let f of fotos">
        <img [src]="'data:image/jpeg;base64,' + f.foto"
            class="img-fluid rounded shadow"
            alt="Foto do paciente">
      </div>
    </div>
    <div *ngIf="fotos.length === 0" class="text-muted mt-2">
      Nenhuma foto foi enviada ainda.
    </div>
  </section>

  <h2 class="mt-4">Atividades Interativas</h2>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let a of atividades">
      <strong>{{ a.titulo }}</strong> — {{ a.tipo }}  
      <br />
      <small>{{ a.descricao }}</small>
    </li>
  </ul>


</main>
