<main class="container">
    <h2>Paciente</h2>
    <a routerLink= "/pacientes/novo" class="btn btn-primary">Novo</a>
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Idade</th>
                <th>Endereço</th>
                <th>Email</th>
                <th>Telefone de Emergência</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let umPaciente of listaPacientes">
                <td>{{umPaciente.nome}}</td>
                <td>{{umPaciente.idade}}</td>
                <td>{{umPaciente.endereco}}</td>
                <td>{{umPaciente.email}}</td>
                <td>{{umPaciente.telefone}}</td>
            </tr>
        </tbody>
    </table>
</main>