<main class="container">
  <h2>Cadastrar Lembrete</h2>
  <form #formLembrete="ngForm" class="row g-3" (ngSubmit)="salvar()" novalidate>

    <div class="col-md-6">
      <label for="paciente" class="form-label" 
             [ngClass]="{'text-danger': paciente.invalid && paciente.touched}">
        Paciente
      </label>
      <select id="paciente" class="form-select" name="paciente" required
              [(ngModel)]="lembrete.pacienteId" #paciente="ngModel"
              [ngClass]="{'is-invalid': paciente.invalid && paciente.touched}">
        <option value="" disabled selected>Selecione o paciente</option>
        <option *ngFor="let paciente of pacientes" [value]="paciente.id">
          {{ paciente.nome }}
        </option>
      </select>
      <div *ngIf="paciente.invalid && paciente.touched" class="text-danger">
        Selecione um paciente.
      </div>
    </div>

    <div class="col-md-6">
      <label for="titulo" class="form-label"
             [ngClass]="{'text-danger': titulo.invalid && titulo.touched}">
        Título
      </label>
      <input type="text" class="form-control" id="titulo" name="titulo" required
             [(ngModel)]="lembrete.titulo" #titulo="ngModel"
             [ngClass]="{'is-invalid': titulo.invalid && titulo.touched}">
      <div *ngIf="titulo.invalid && titulo.touched" class="text-danger">
        Título é obrigatório.
      </div>
    </div>

    <div class="col-12">
      <label for="descricao" class="form-label"
             [ngClass]="{'text-danger': descricao.invalid && descricao.touched}">
        Descrição
      </label>
      <textarea class="form-control" id="descricao" name="descricao" required
                [(ngModel)]="lembrete.descricao" #descricao="ngModel"
                [ngClass]="{'is-invalid': descricao.invalid && descricao.touched}"></textarea>
      <div *ngIf="descricao.invalid && descricao.touched" class="text-danger">
        Descrição é obrigatória.
      </div>
    </div>

    <div class="col-md-6">
      <label for="data" class="form-label"
             [ngClass]="{'text-danger': data.invalid && data.touched}">
        Data
      </label>
      <input type="date" class="form-control" id="data" name="data" required
             [(ngModel)]="lembrete.data" #data="ngModel"
             [ngClass]="{'is-invalid': data.invalid && data.touched}">
      <div *ngIf="data.invalid && data.touched" class="text-danger">
        Data é obrigatória.
      </div>
    </div>

    <div class="col-md-6">
      <label for="hora" class="form-label"
             [ngClass]="{'text-danger': hora.invalid && hora.touched}">
        Hora
      </label>
      <input type="time" class="form-control" id="inputHora" name="hora" required
             [(ngModel)]="lembrete.hora" #hora="ngModel"
             [ngClass]="{'is-invalid': hora.invalid && hora.touched}">
      <div *ngIf="hora.invalid && hora.touched" class="text-danger">
        Hora é obrigatória.
      </div>
    </div>

    <div class="col-12 text-end">
      <button class="btn btn-primary" type="submit" (click)="salvar()">Salvar</button>
    </div>

  </form>
</main>
